<!DOCTYPE html>
<html lang="en" class="pf-m-redhat-font">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" type="image/ico" href="{{ url_for('static', filename = 'redhat-favicon.ico') }}"/>
  <!-- Include latest PatternFly CSS via CDN -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@patternfly/patternfly/patternfly.css"
    crossorigin="anonymous"
  >
  <link rel="stylesheet" href="{{ url_for('static', filename = 'font.css') }}" />
  <title>Sync2Jira - Sync Page</title>
    <script>
    function goBack() {
      window.history.back()
    }
    </script>
</head>
<body>
  <div class="pf-c-page" id="page-layout-table-simple">
  <header role="banner" class="pf-c-page__header">
    <div class="pf-c-page__header-brand">
        <h1>Sync2Jira - Sync Page</h1>
    </div>
  </header>
  <div class="pf-c-page__sidebar pf-m-dark">
    <div class="pf-c-page__sidebar-body">
      <nav class="pf-c-nav pf-m-dark" id="page-layout-table-simple-primary-nav" aria-label="Global">
        <ul class="pf-c-nav__list">
          <li class="pf-c-nav__item pf-m-expandable">
            <a href="{{ url }}/github" class="pf-c-nav__link" aria-expanded="false">GitHub
              <span class="pf-c-nav__toggle">
                <i class="fas fa-angle-right" aria-hidden="true"></i>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <main role="main" class="pf-c-page__main" tabindex="-1" id="main-content-page-layout-table-simple">
    <section class="pf-c-page__main-section pf-m-light">
      <div class="pf-c-content">
        <h1>Failed to started syncing</h1>
        <p>Make sure you selected at least one repo!</p>
      </div>
    </section>
    <section class="pf-c-page__main-section pf-m-no-padding-mobile">
    <div class="pf-c-form__group pf-m-action">
      <div class="pf-c-form__horizontal-group">
        <div class="pf-c-form__actions">
          <button class="pf-c-button pf-m-primary" onclick="goBack()">Back</button>
        </div>
      </div>
    </div>
    </section>
  </main>
</div>
</body>
</html>
