npm-debug.log
*.pem
!mock-cert.pem
.env
package-lock.json
coverage
.DS_Store
.idea/
*/node_modules/
/dist
sync2jira.egg-info/
*venv/
build/
*__pycache__*
xunit-tests.xml
.coverage
.tox/*
htmlcov-py36/*
fedmsg.d/sync2jira.py
/.tox
*.pyc
__pycache__
