<html>
  <body style="font-family: Arial; font-size: 14px;">
    <p>Looks like updating the Sync2Jira {{ namespace }} on OpenShift failed!</p>
    <p>Here is some more info:</p>
    <code>{{ response }}</code>
  </body>
</html>