<p class="auto-cursor-target">
    <br />
</p>
<table class="relative-table" style="width: 29.9457%;">
    <colgroup><col style="width: 32.9091%;" />
        <col style="width: 30.5455%;" />
        <col style="width: 36.5455%;" />
    </colgroup>
    <tbody>
            <tr>
                <th>Type of Sync</th>
                <th>Number of Syncs</th>
                <th colspan="1">Avg. Time (Seconds)</th>
            </tr>
            <tr>
                <td>Created Issues&nbsp;</td><td>{{ confluence_data['Created Issues'] }}</td><td colspan="1">60</td>
            </tr>
            <tr>
                <td>Descriptions</td><td>{{ confluence_data['Descriptions'] }}</td><td colspan="1">30</td>
            </tr>
            <tr>
                <td>Comments</td><td>{{ confluence_data['Comments'] }}</td><td colspan="1">30</td>
            </tr>
            <tr>
                <td>Reporters</td><td>{{ confluence_data['Reporters'] }}</td><td colspan="1">30</td>
            </tr>
            <tr>
                <td>Assignees</td><td>{{ confluence_data['Assignees'] }}</td><td colspan="1">15</td>
            </tr>
            <tr>
                <td>Status</td><td>{{ confluence_data['Status'] }}</td><td colspan="1">30</td>
            </tr>
            <tr>
                <td>Transitions</td><td>{{ confluence_data['Transitions'] }}</td><td colspan="1">30</td>
            </tr>
            <tr>
                <td>Titles</td><td>{{ confluence_data['Title'] }}</td><td colspan="1">15</td>
            </tr>
            <tr>
                <td>Tags</td><td>{{ confluence_data['Tags'] }}</td><td colspan="1">5</td>
            </tr>
            <tr>
                <td>Fix Version</td><td>{{ confluence_data['FixVersion'] }}</td><td colspan="1">5</td>
            </tr>
            <tr>
                <td>Misc. Fields</td><td>{{ confluence_data['Misc. Fields'] }}</td><td colspan="1">15</td>
            </tr>
            <tr>
                <td colspan="1"><strong>Total</strong></td><td colspan="1"><strong>{{ confluence_data['Total'] }}</strong></td><td colspan="1"><strong>{{ confluence_data['Total Time'] }}</strong></td>
            </tr>
    </tbody>
</table>
<p class="auto-cursor-target">
    <br />
</p>