---
name: Run Tox

# yamllint disable rule:truthy
on:
  push:
    branches:
      - main
      - legacy
    tags:
      - v*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Tox tests
        id: test
        uses: fedora-python/tox-github-action@main
        with:
          tox_env: py39,py312,lint,isort,black
          dnf_install: >-
            --repo fedora --repo updates
              krb5-devel

      - name: Coveralls
        uses: AndreMiras/coveralls-python-action@develop
